<html>
    <head>
        <title>Listy rzeczy do zrobienia</title>
    </head>
    <body>
        <h1>Twoja lista rzeczy do zrobienia</h1>
        <form method="post">
            <input name="item_text" type="text" class="" id="id_new_item" placeholder="Wpisz rzeczy do zrobienia" />
            {% csrf_token %}
        </form>
        <table class="" id="id_list_table">
            {% for item in items %}
            <tr>
                <td>{{ forloop.counter }}: {{ item.text }}</td>
            </tr>
            {% endfor %}
        </table>


    </body>
</html>